* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 200px 0 200px 0;
}

/* .mood {
  width: 720px;
  height: 720px; 
  border-radius: 50%; 
  filter: blur(100px);
  background: rgba(92, 17, 13, 0.62);
} */

.reservation__image {
  position: relative;
}

.reservation__image::before {
  content: "";
  position: absolute;
  width: 550px;
  height: 450px;
  border-radius: 50%;
  z-index: -1;
  background: rgba(92, 17, 13, 0.62);
  filter: blur(100px);
}
